@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import "normalize";
@import "layout";
@import "elements";

body {
	background-color: rgb(13, 68, 30);
	font: 700 24px/1 Roboto, sans-serif;
}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1000px;
}

.ba-card {
	padding: 40px 20px;
	perspective: 500px;
	perspective: 700px;

	div {

		transform-style: preserve-3d;
		transition: 0.4s ease-in;
		transition-property: transform;
	}


	&-front {
		background-color: #fff;
		width: 150px;
		height: 200px;
		padding: 10px 10px;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		z-index: 1;
		backface-visibility: hidden;
	}

	&-back {
		position: absolute;
		top: 40px;
		bottom: 0;
		left: 20px;
		right: 0;
		width: 150px;
		height: 200px;
		padding: 10px 10px;
		border-radius: 20px;

		background: #7c6eab url(../img/back.jpg) 50% 50% no-repeat;

		transform: rotateY(-180deg) translateZ(0);
		backface-visibility: hidden;
	}

	&:hover {
		.ba-card-front {
			transform: rotateY(-180deg);
		}

		.ba-card-back {
			transform: rotateY(0);
		}
	}

	&--red {
		color: red;

		svg {
			fill: currentColor;
		}
	}

	&--black {
		color: #000;

		svg {
			fill: currentColor;
		}
	}

	&-fill {
		max-width: 70px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		&-odd {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
		}

		&-pick {
			padding: 0;
			margin: 0;
		}

	}

}

.ba-card-mirror {
	&--bottom {
		transform: scale(-1, -1);
	}
}

.ba-markers {
	width: 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;

	svg {
		margin-bottom: 15px;
	}

	&--second {
		padding-bottom: 30px;
	}
}